[Desktop Entry]
Name=Zelda3
Comment=The Legend of Zelda - A Link to the Past
Exec=zelda3
Icon=zelda3
Terminal=false
Type=Application
StartupNotify=true
Categories=Game;AdventureGame;
